/*This is the css for index.html page*/
h1 {
    text-align: center;
    color: gold;
    font-size: 75px;
}

p.center {
    text-align: center;
    font-size: larger;
    color: gold;
    position: fixed;
    bottom: 20px;
    right: 43%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about {
    position: fixed;
    bottom: 10px;
    right: 55%;
}

#ibody {
    background-color: #000000;
}
#store{
    position: fixed;
    bottom: 10px;
    right: 50%;
}
/*This is the css for the about page*/
#abh {
    color: gold;
    font-family: serif;
}

#abb {
    background-color: #000000;
}

#aba {
    position: fixed;
    bottom: 10px;
    right: 50%;
}

#centaur{
    width: 20%;
    height: 20%;
    position: relative;
    left: 40%;
}
/*This is the css for the history page*/
#hist{
    position: fixed;
    bottom: 10px;
    right: 45.5%
}
#histb {
    background-color: #000000;
}
/*This is the css for the featured page*/
#storeToHome{
    position: fixed;
    bottom: 10px;
    right: 45.5%
}
#featbody {
    background-color: #000000;
}